.home-container {
  background-color: #0070e8;
  padding: 15px 20px;
  color: #fff;
  text-transform: uppercase;
  width: 5%;
  margin: 1rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
